.background-container {
  display: flex;

  min-height: 400px;
  background: linear-gradient(purple, #ff007f, pink);
  padding: 20px;
}
.glass-card {
  max-width: 400px;
  padding: 40px;
  border-radius: 20px;

  font-family:Arial, sans-serif;
}

.glass-title {
  margin-top: 0;
  font-size: 30px;
  color: pink;
}

.glass-text {
  line-height: 1.5;
  margin-bottom: 0;
  color: pink;
}
a {
    background-color: #ff007;
    
}
.hero-banner {
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 350px;
  overflow: hidden; 
  border-radius: 12px;
  padding: 30px;
  text-align: center;
}

.hero-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('');
  background-size: cover;
  background-position: center;
  /* Застосовуємо фільтр затемнення ТІЛЬКИ до цього шару-фону */
  
  /* Відправляємо фон на задній план, під текст */

}
.banner-content {
  font-family: sans-serif;
  max-width: 600px;
}

.banner-title {
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.banner-text {
  font-size: 18px;
  line-height: 1.6;
}
nav a {
    background-color: purple;
    color: pink;
    font-size: 35px;
    padding: 25px;
    text-decoration: none;
}
